/*
   
   Style with support for rainbow parens
   
*/
.highlight
  background: #474949
  color: #d1d9e1

  .code
    .comment, .quote, .hljs-comment, .hljs-quote
      color: #969896
      font-style: italic

    .keyword, .selector-tag, .literal, .type, .addition, .hljs-keyword, .hljs-selector-tag, .hljs-literal, .hljs-type, .hljs-addition
      color: #cc99cc

    .number, .selector-attr, .selector-pseudo, .hljs-number, .hljs-selector-attr, .hljs-selector-pseudo
      color: #f99157

    .string, .doctag, .regexp, .hljs-string, .hljs-doctag, .hljs-regexp
      color: #8abeb7

    .title, .name, .section, .built_in, .hljs-title, .hljs-name, .hljs-section, .hljs-built_in
      color: #b5bd68

    .variable, .template-variable, .selector-id, .class .title, .hljs-variable, .hljs-template-variable, .hljs-selector-id, .hljs-class .hljs-title
      color: #ffcc66

    .section, .name, .strong
      font-weight: bold

    .symbol, .bullet, .subst, .meta, .link, .hljs-symbol, .hljs-bullet, .hljs-subst, .hljs-meta, .hljs-link
      color: #f99157

    .deletion, .hljs-deletion
      color: #dc322f

    .formula, .hljs-formula
      background: #eee8d5

    .attr, .attribute, .hljs-attr, .hljs-attribute
      color: #81a2be

    .emphasis, .hljs-emphasis
      font-style: italic
